<div class="mat-dialog">
    <h2 class="m-0" mat-dialog-title>Cadastrar Tutor</h2>

    <div mat-dialog-content class="py-3">
        <form [formGroup]="form" *ngIf="form">

            <div class="row mb-3">
                <div class="col-12">
                    <div class="text-center">
                        <img [src]="foto ? foto.data : '/assets/images/tutores.png'" height="150px" class="rounded-circle">
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="text-center">
                        <button mat-icon-button type="button" [matMenuTriggerFor]="menuFoto">
                            <mat-icon>camera_alt</mat-icon>
                        </button>
                        <mat-menu #menuFoto="matMenu">
                            <button mat-menu-item (click)="addFoto()">
                                <mat-icon>search</mat-icon>
                                <span>Selecionar Foto</span>
                            </button>
                            <button mat-menu-item (click)="removeFoto()" *ngIf="foto">
                                <mat-icon>delete</mat-icon>
                                <span>Remover Foto</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>CPF</mat-label>
                        <input matInput formControlName="cpf" mask="CPF_CNPJ">
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>RG</mat-label>
                        <input matInput formControlName="rg">
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Situação</mat-label>
                        <mat-select formControlName="situacao">
                            <mat-option value="ADOTOU">Adotou</mat-option>
                            <mat-option value="DEVOLVEU">Devolveu</mat-option>
                            <mat-option value="FALECEU">Faleceu</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div formArrayName="telefones">
                    
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-dark">Telefones</h3>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 col-md-3" *ngFor="let telefone of telefones.controls, let i = index">
                        <mat-form-field appearance="outline" class="w-100" [formGroupName]="i">
                            <mat-label>Telefone</mat-label>
                            <input matInput formControlName="numero" mask="(00) 0000-0000||(00) 0 0000-0000">
                            <button matSuffix mat-icon-button (click)="removeTelefone(i)" *ngIf="form.enabled">
                              <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row" *ngIf="form.enabled">
                    <div class="col">
                        <div class="text-center">
                            <button type="button" mat-button (click)="addTelefone()">Adicionar Telefone</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3 class="text-dark">Endereço</h3>
                </div>
            </div>

            <div formGroupName="endereco">

                <div class="row">
                    <div class="col-12 col-md-7">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Rua</mat-label>
                            <input matInput formControlName="rua">
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>N°</mat-label>
                            <input matInput formControlName="numeroResidencia">
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Bairro</mat-label>
                            <input matInput formControlName="bairro">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Complemento</mat-label>
                            <input matInput formControlName="complemento">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="estado">
                                <mat-option value="ACRE">Acre</mat-option>
                                <mat-option value="ALAGOAS">Alagoas</mat-option>
                                <mat-option value="AMAPA">Amapá</mat-option>
                                <mat-option value="AMAZONAS">Amazonas</mat-option>
                                <mat-option value="BAHIA">Bahia</mat-option>
                                <mat-option value="CEARA">Ceará</mat-option>
                                <mat-option value="DISTRITO_FEDERAL">Distrito Federal</mat-option>
                                <mat-option value="ESPIRITO_SANTO">Espírito Santo</mat-option>
                                <mat-option value="GOIAS">Goiás</mat-option>
                                <mat-option value="MARANHAO">Maranhão</mat-option>
                                <mat-option value="MATO_GROSSO">Mato Grosso</mat-option>
                                <mat-option value="MATO_GROSSO_DO_SUL">Mato Grosso do Sul</mat-option>
                                <mat-option value="MINAS_GERAIS">Minas Gerais</mat-option>
                                <mat-option value="PARÁ">Pará</mat-option>
                                <mat-option value="PARAIBA">Paraíba</mat-option>
                                <mat-option value="PARANA">Paraná</mat-option>
                                <mat-option value="PERNAMBUCO">Pernambuco</mat-option>
                                <mat-option value="PIAUI">Piauí</mat-option>
                                <mat-option value="RIO_JANEIRO">Rio de Janeiro</mat-option>
                                <mat-option value="RIO_GRANDE_DO_NORTE">Rio Grande do Norte</mat-option>
                                <mat-option value="RIO_GRANDE_DO_SUL">Rio Grande do Sul</mat-option>
                                <mat-option value="RONDONIA">Rondônia</mat-option>
                                <mat-option value="RORAIMA">Roraima</mat-option>
                                <mat-option value="SANTA_CATARINA">Santa Catarina</mat-option>
                                <mat-option value="SAO_PAULO">São Paulo</mat-option>
                                <mat-option value="SERGIPE">Sergipe</mat-option>
                                <mat-option value="TOCANTINS">Tocantins</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Cidade</mat-label>
                            <input matInput formControlName="cidade">
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>CEP</mat-label>
                            <input matInput formControlName="cep" mask="00000-000">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div mat-dialog-actions layout="row" class="d-flex justify-content-end" *ngIf="form">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [ngClass]="form.valid ? 'bg-success text-white' : ''" (click)="submit()" [disabled]="!form.valid">OK</button>
    </div>
</div>