<div class="overflow-hidden">
  <div class="row my-3">
    <div class="col-12">
      <div class="text-end">
        <button mat-icon-button title="Cadastrar" (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div
    class="row mb-3"
    [hidden]="(dataSource && dataSource.data.length == 0) || isLoadingResults"
  >
    <div class="col-12">
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="dataSource"
          class="w-100 border"
          matSort
          matSortActive="createdDate"
          matSortDisableClear
          matSortDirection="desc"
          (matSortChange)="sortChange()"
        >
          <!-- Index Column -->
          <ng-container matColumnDef="index">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="col-index"
            >
              #
            </th>
            <td mat-cell *matCellDef="let observacao; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- CreatedDate Column -->
          <ng-container matColumnDef="createdDate">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="col-createdDate"
            >
              Data
            </th>
            <td mat-cell *matCellDef="let observacao" class="text-center">
              {{ observacao.createdDate | date : "dd/MM/yyyy HH:mm" }}
            </td>
          </ng-container>

          <!-- Empty Column -->
          <ng-container matColumnDef="empty">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="col-empty"
            >
              &nbsp;
            </th>
            <td mat-cell *matCellDef="let observacao">&nbsp;</td>
          </ng-container>

          <!-- Ação Column -->
          <ng-container matColumnDef="acao">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="col-acao"
            >
              &nbsp;
            </th>
            <td mat-cell *matCellDef="let observacao">
              <div class="text-end">
                <button
                  mat-icon-button
                  title="Editar"
                  (click)="update(observacao)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  title="Excluir"
                  (click)="delete(observacao)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>

        <mat-paginator
          [length]="resultsLength"
          [pageSizeOptions]="[10, 25, 50, 100]"
          showFirstLastButtons
          class="w-100"
          (page)="pageChange()"
        ></mat-paginator>
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngIf="isLoadingResults">
    <div class="col-12">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p class="text-center pt-3">Obtendo dados</p>
    </div>
  </div>

  <div
    [hidden]="(dataSource && dataSource.data.length > 0) || isLoadingResults"
  >
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <img src="/assets/images/nao-encontrado.png" width="100px" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <h2 class="m-0">Não há dados a serem exibidos!</h2>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
