<app-breadcrumbs></app-breadcrumbs>

<div class="row mb-3">
  <div class="col-12">
    <mat-card>
      <mat-card-header class="pb-2">
        <div class="mat-card-header-text">
          <div class="row">
            <div class="col px-0">
              <h2 class="m-0 text-center">Exames</h2>
            </div>
          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div class="row mb-3">
          <div class="col-12 col-md-11 mb-3 mb-md-0">
            <mat-form-field
              appearance="outline"
              class="w-100"
              style="margin-bottom: -1.25em"
            >
              <mat-label>Buscar</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="filterString"
                (keyup.enter)="search()"
                placeholder="Nome ou categoria"
              />
              <button mat-icon-button matSuffix (click)="search()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-1">
            <div class="d-flex align-items-center justify-content-center h-100">
              <button
                mat-icon-button
                class="bg-success text-white"
                title="Cadastrar"
                (click)="add()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div
  class="row mb-3"
  [hidden]="(dataSource && dataSource.data.length == 0) || isLoadingResults"
>
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="dataSource"
            class="w-100 border"
            matSort
            matSortActive="nome"
            matSortDisableClear
            matSortDirection="asc"
            (matSortChange)="sortChange()"
          >
            <!-- Index Column -->
            <ng-container matColumnDef="index">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="col-index"
              >
                #
              </th>
              <td mat-cell *matCellDef="let exame; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <!-- Nome Column -->
            <ng-container matColumnDef="nome">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="col-nome"
              >
                Nome
              </th>
              <td mat-cell *matCellDef="let exame" class="text-center">
                {{ exame.nome }}
              </td>
            </ng-container>

            <!-- Categoria Column -->
            <ng-container matColumnDef="categoria">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="col-categoria"
              >
                Categoria
              </th>
              <td mat-cell *matCellDef="let exame" class="text-center">
                {{ exame.categoria }}
              </td>
            </ng-container>

            <!-- Ação Column -->
            <ng-container matColumnDef="acao">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                class="col-acao"
              >
                &nbsp;
              </th>
              <td mat-cell *matCellDef="let exame">
                <div class="text-end">
                  <button
                    mat-icon-button
                    title="Visualizar"
                    (click)="show(exame)"
                  >
                    <mat-icon>launch</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
          </table>

          <mat-paginator
            [length]="resultsLength"
            [pageSizeOptions]="[10, 25, 50, 100]"
            showFirstLastButtons
            class="w-100"
            (page)="pageChange()"
          ></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row mb-3" *ngIf="isLoadingResults">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <p class="text-center pt-3">Obtendo dados</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div [hidden]="(dataSource && dataSource.data.length > 0) || isLoadingResults">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <img src="/assets/images/nao-encontrado.png" width="100px" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h2 class="m-0">Não há dados a serem exibidos!</h2>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
