<div class="dialog-header ps-3 pt-3 pe-3">
  <h2 class="m-0">Confirmar Exclusão</h2>
</div>

<div class="dialog-content p-3">
  <div class="row">
    <div class="col-12">
      <p class="text-dark">
        Deseja excluir a observação do dia
        <strong>{{
          data.observacao.createdDate | date : "dd/MM/yyyy HH:mm"
        }}</strong
        >?
      </p>
    </div>
  </div>
</div>

<div class="dialog-footer ps-3 pb-3 pe-3">
  <div class="row">
    <div class="col-12">
      <div class="text-end">
        <button
          mat-button
          title="Excluir"
          class="bg-danger text-white px-4 me-3"
          (click)="submit()"
        >
          Excluir
        </button>

        <button
          mat-button
          mat-dialog-close
          title="Cancelar"
          class="bg-secondary text-white px-4"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
