<div class="row mb-3">
    <div class="col-12">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a class="text-white" [routerLink]="'/' + currentUser.role.toLowerCase() + '/painel'">Início</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tutores</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <mat-card>
            <mat-card-header class="pb-2">
                <div class="mat-card-header-text">
                    <div class="row">
                        <div class="col px-0">
                            <h2 class="m-0 text-center">Tutores</h2>
                        </div>
                    </div>
                </div>
            </mat-card-header>
    
            <mat-card-content>
                <div class="row mb-3">
                    <div class="col-10 col-md-11">
                        <mat-form-field appearance="outline" class="w-100" style="margin-bottom: -1.25em;">
                            <mat-label>Buscar</mat-label>
                            <input type="text" matInput #searchText (keyup)="filter(searchText.value)">
                            <button mat-icon-button matSuffix>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
    
                    <div class="col-2 col-md-1">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <button mat-icon-button class="bg-success text-white" (click)="add()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row mb-3" *ngIf="tutoresToShow && tutoresToShow.length > 0">
    <div class="col-12 col-md-3" *ngFor="let tutor of tutoresToShow">
        <mat-card>
            <mat-card-header>
                <div class="mat-card-header-text mb-3">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="text-end">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="update(tutor)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Editar</span>
                                    </button>

                                    <button mat-menu-item (click)="delete(tutor)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Excluir</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-header>

            <mat-card-content>
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <img mat-card-image [src]="apiURL + '/imagens/search?nome=' + tutor.foto.nome" height="125px" class="mb-3 rounded-circle" *ngIf="tutor.foto">
                            <img mat-card-image src="assets/images/tutores.png" height="125px" class="mb-3" *ngIf="!tutor.foto">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h3 class="fw-bold mb-0">{{tutor.nome}}</h3>
                        <p class="mb-0">{{tutor.cpf | mask: 'CPF_CNPJ'}}</p>
                        <p class="mb-0">{{tutor.situacao | titlecase}}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div *ngIf="tutoresToShow && tutoresToShow.length == 0">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <img src="/assets/images/nao-encontrado.png" width="100px">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2 class="m-0">Não há dados a serem exibidos!</h2>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>