<form [formGroup]="form" *ngIf="form" class="overflow-hidden">

    <div class="row">
        <div class="col-12">
            <div class="text-end">
                <button mat-icon-button (click)="form.enable()" *ngIf="form.disabled">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="submit()" *ngIf="form.enabled">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button (click)="cancel()" *ngIf="form.enabled">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button (click)="delete()" *ngIf="form.disabled">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div *ngIf="!foto">
                    <img src="assets/images/tutores.png" height="150px" class="mb-3">
                </div>

                <div *ngIf="foto && foto.salvo">
                    <img [src]="apiURL + '/imagens/search?nome=' + foto.nome" height="150px" class="mb-3 rounded">
                </div>

                <div *ngIf="foto && !foto.salvo">
                    <img [src]="foto.data" height="150px" class="mb-3 rounded">
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="form.enabled">
        <div class="col-12">
            <div class="text-center">
                <button mat-icon-button type="button" [matMenuTriggerFor]="menuFoto">
                    <mat-icon>camera_alt</mat-icon>
                </button>
                <mat-menu #menuFoto="matMenu">
                    <button mat-menu-item (click)="addFoto()">
                        <mat-icon>search</mat-icon>
                        <span>Selecionar Foto</span>
                    </button>
                    <button mat-menu-item (click)="removeFoto()" *ngIf="foto">
                        <mat-icon>delete</mat-icon>
                        <span>Remover Foto</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>CPF</mat-label>
                <input matInput formControlName="cpf" mask="CPF_CNPJ">
            </mat-form-field>
        </div>

        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>RG</mat-label>
                <input matInput formControlName="rg">
            </mat-form-field>
        </div>

        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Situação</mat-label>
                <mat-select formControlName="situacao">
                    <mat-option value="ADOTOU">Adotou</mat-option>
                    <mat-option value="DEVOLVEU">Devolveu</mat-option>
                    <mat-option value="FALECEU">Faleceu</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div formArrayName="telefones">
                    
        <div class="row">
            <div class="col-12">
                <h3 class="text-dark">Telefones</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-md-3" *ngFor="let telefone of telefones.controls, let i = index">
                <mat-form-field appearance="outline" class="w-100" [formGroupName]="i">
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="numero" mask="(00) 0000-0000||(00) 0 0000-0000">
                    <button matSuffix mat-icon-button (click)="removeTelefone(i)" *ngIf="form.enabled">
                      <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngIf="form.enabled">
            <div class="col">
                <div class="text-center">
                    <button type="button" mat-button (click)="addTelefone()">Adicionar Telefone</button>
                </div>
            </div>
        </div>
    </div>
</form>