<div class="mat-dialog">
    <h2 class="m-0" mat-dialog-title>Selecionar Agendamento</h2>

    <div mat-dialog-content class="py-3">
        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <mat-form-field appearance="outline" class="w-100" style="margin-bottom: -1.25em;">
                    <mat-label>Buscar</mat-label>
                    <input matInput [(ngModel)]="filterDate" [matDatepicker]="pickerDataHora" placeholder="Data" readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="pickerDataHora"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDataHora (closed)="search('date')"></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-12 col-md-9">
                <mat-form-field appearance="outline" class="w-100" style="margin-bottom: -1.25em;">
                    <mat-label>Buscar</mat-label>
                    <input type="text" matInput placeholder="Animal ou Veterinário" [(ngModel)]="filterString" (keyup.enter)="search('string')">
                    <button mat-icon-button matSuffix (click)="search('string')">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>

        <div [hidden]="(dataSource && dataSource.data.length == 0) || isLoadingResults">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" class="w-100 border" matSort matSortActive="dataHora" matSortDisableClear matSortDirection="desc" (matSortChange)="sortChange()">
    
                            <!-- Index Column -->
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-index">#</th>
                            <td mat-cell *matCellDef="let agendamento; let i = index">{{i+1}}</td>
                        </ng-container>

                        <!-- Data Hora Column -->
                        <ng-container matColumnDef="dataHora">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-dataHora">Data</th>
                            <td mat-cell *matCellDef="let agendamento" class="text-center"> {{agendamento.dataHora | date: 'dd/MM/yyyy HH:mm'}}</td>
                        </ng-container>

                        <!-- Animal Column -->
                        <ng-container matColumnDef="animal">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-animal">Animal</th>
                            <td mat-cell *matCellDef="let agendamento" class="text-center">{{agendamento.animal.nome}}</td>
                        </ng-container>

                        <!-- Veterinario Column -->
                        <ng-container matColumnDef="veterinario">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-veterinario">Veterinário</th>
                            <td mat-cell *matCellDef="let agendamento" class="text-center">{{agendamento.veterinario.nome}}</td>
                        </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="columns"></tr>
                            <tr mat-row *matRowDef="let row; columns: columns;" [ngClass]="isSelected(row) ? 'selected-row' : ''" (click)="select(row)"></tr>
                        </table>
    
                        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons class="w-100" (page)="pageChange()"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>

        <div [hidden]="!isLoadingResults">
            <div class="row">
                <div class="col-12">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    <p class="text-center pt-3">Obtendo dados</p>
                </div>
            </div>
        </div>
        
        <div [hidden]="(dataSource && dataSource.data.length > 0) || isLoadingResults">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <img src="/assets/images/nao-encontrado.png" width="100px">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2 class="m-0">Não há dados a serem exibidos!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div mat-dialog-actions layout="row" class="d-flex justify-content-end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [ngClass]="agendamento || agendamentos.length > 0 ? 'bg-success text-white' : ''" (click)="submit()" [disabled]="!agendamento && agendamentos.length === 0">OK</button>
    </div>
</div>