<form [formGroup]="form" *ngIf="form" class="overflow-hidden">

    <div class="row my-3">
        <div class="col-12">
            <div class="text-end">
                <button mat-icon-button title="Editar" (click)="form.enable()" *ngIf="form.disabled">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button title="Salvar" (click)="submit()" *ngIf="form.enabled">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button title="Cancelar" (click)="cancel()" *ngIf="form.enabled">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-7">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Rua</mat-label>
                <input matInput formControlName="rua">
                <mat-error *ngIf="hasError('rua')">{{getErrorMessage('rua')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>N°</mat-label>
                <input matInput formControlName="numeroResidencia">
                <mat-error *ngIf="hasError('numeroResidencia')">{{getErrorMessage('numeroResidencia')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Bairro</mat-label>
                <input matInput formControlName="bairro">
                <mat-error *ngIf="hasError('bairro')">{{getErrorMessage('bairro')}}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Complemento</mat-label>
                <input matInput formControlName="complemento">
                <mat-error *ngIf="hasError('complemento')">{{getErrorMessage('complemento')}}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                    <mat-option value="ACRE">Acre</mat-option>
                    <mat-option value="ALAGOAS">Alagoas</mat-option>
                    <mat-option value="AMAPA">Amapá</mat-option>
                    <mat-option value="AMAZONAS">Amazonas</mat-option>
                    <mat-option value="BAHIA">Bahia</mat-option>
                    <mat-option value="CEARA">Ceará</mat-option>
                    <mat-option value="DISTRITO_FEDERAL">Distrito Federal</mat-option>
                    <mat-option value="ESPIRITO_SANTO">Espírito Santo</mat-option>
                    <mat-option value="GOIAS">Goiás</mat-option>
                    <mat-option value="MARANHAO">Maranhão</mat-option>
                    <mat-option value="MATO_GROSSO">Mato Grosso</mat-option>
                    <mat-option value="MATO_GROSSO_DO_SUL">Mato Grosso do Sul</mat-option>
                    <mat-option value="MINAS_GERAIS">Minas Gerais</mat-option>
                    <mat-option value="PARÁ">Pará</mat-option>
                    <mat-option value="PARAIBA">Paraíba</mat-option>
                    <mat-option value="PARANA">Paraná</mat-option>
                    <mat-option value="PERNAMBUCO">Pernambuco</mat-option>
                    <mat-option value="PIAUI">Piauí</mat-option>
                    <mat-option value="RIO_JANEIRO">Rio de Janeiro</mat-option>
                    <mat-option value="RIO_GRANDE_DO_NORTE">Rio Grande do Norte</mat-option>
                    <mat-option value="RIO_GRANDE_DO_SUL">Rio Grande do Sul</mat-option>
                    <mat-option value="RONDONIA">Rondônia</mat-option>
                    <mat-option value="RORAIMA">Roraima</mat-option>
                    <mat-option value="SANTA_CATARINA">Santa Catarina</mat-option>
                    <mat-option value="SAO_PAULO">São Paulo</mat-option>
                    <mat-option value="SERGIPE">Sergipe</mat-option>
                    <mat-option value="TOCANTINS">Tocantins</mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('estado')">{{getErrorMessage('estado')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Cidade</mat-label>
                <input matInput formControlName="cidade">
                <mat-error *ngIf="hasError('cidade')">{{getErrorMessage('cidade')}}</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>CEP</mat-label>
                <input matInput formControlName="cep" mask="00000-000">
                <mat-error *ngIf="hasError('cep')">{{getErrorMessage('cep')}}</mat-error>
            </mat-form-field>
        </div>
    </div>
</form>