<div class="row mb-3" *ngIf="authentication">
    <div class="col-12">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a class="text-white" [routerLink]="'/' + authentication.role.toLowerCase() + '/painel'">Início</a></li>
                <li class="breadcrumb-item"><a class="text-white" [routerLink]="'/' + authentication.role.toLowerCase() + '/exames'">Exames</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{exame ? exame.nome : 'Cadastro'}}</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <form [formGroup]="form" *ngIf="form">
            <mat-card>
                <mat-card-header class="pb-2">
                    <div class="mat-card-header-text">
                        <div class="row">
                            <div class="col px-0">
                                <h2 class="m-0 text-center">{{exame ? exame.nome : 'Cadastrar Exame'}}</h2>
                            </div>
                        </div>
                    </div>
                </mat-card-header>

                <mat-card-content class="pb-0">
                    
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="text-end">
                                <button mat-icon-button (click)="form.enable()" *ngIf="form.disabled && exame">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="submit()" *ngIf="form.enabled && form.valid">
                                    <mat-icon>save</mat-icon>
                                </button>
                                <button mat-icon-button (click)="cancel()" *ngIf="form.enabled">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <button mat-icon-button (click)="delete()" *ngIf="form.disabled && exame">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-9">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Nome</mat-label>
                                <input matInput formControlName="nome">
                            </mat-form-field>
                        </div>
        
                        <div class="col-12 col-md-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Categoria</mat-label>
                                <input matInput formControlName="categoria">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>