<div class="mat-dialog">
    <h2 class="m-0" mat-dialog-title>Selecionar Tutor</h2>

    <div mat-dialog-content class="py-3">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Tutor</mat-label>
                    <input matInput #searchTutor placeholder="Nome" (keydown.enter)="filter(searchTutor.value)">
                    <button matSuffix mat-icon-button (click)="filter(searchTutor.value)">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div *ngIf="dataSource.data.length > 0">
                    <table mat-table [dataSource]="dataSource" matSort matSortActive="nome" matSortDirection="asc" class="w-100 border">

                        <!-- Index column -->
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-index">#</th>
                            <td mat-cell *matCellDef="let animal; let i = index">{{i+1}}</td>
                        </ng-container>

                        <!-- Nome Column -->
                        <ng-container matColumnDef="nome">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-nome">Nome</th>
                            <td mat-cell *matCellDef="let animal">{{animal.nome}}</td>
                        </ng-container>

                        <!-- Sexo Column -->
                        <ng-container matColumnDef="sexo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-sexo">Sexo</th>
                            <td mat-cell *matCellDef="let animal">{{animal.sexo}}</td>
                        </ng-container>

                        <!-- Idade Column -->
                        <ng-container matColumnDef="idade">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-idade">Idade</th>
                            <td mat-cell *matCellDef="let animal">{{animal.idade}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns;" [ngClass]="animais && animais.includes(row) ? 'selected-row' : ''" (click)="select(row)"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div mat-dialog-actions layout="row" class="d-flex justify-content-end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [ngClass]="animais.length > 0 ? 'bg-success text-white' : ''" (click)="submit()" [disabled]="animais.length == 0">OK</button>
    </div>
</div>