.mat-column-index
    flex: 0 0 5% !important
    width: 5% !important

.mat-column-nome
    flex: 0 0 50% !important
    width: 50% !important

.mat-column-especie
    flex: 0 0 15% !important
    width: 15% !important

.mat-column-porte
    flex: 0 0 15% !important
    width: 15% !important

.mat-column-idade
    flex: 0 0 15% !important
    width: 15% !important

.selected-row
    background-color: rgba(0, 0, 0, 0.1)

::ng-deep .col-index .mat-sort-header-container, ::ng-deep .col-nome .mat-sort-header-container, 
::ng-deep .col-especie .mat-sort-header-container, ::ng-deep .col-porte .mat-sort-header-container, 
::ng-deep .col-idade .mat-sort-header-container
    display: flex
    justify-content: center