<div class="mat-dialog">
    <h2 class="m-0" mat-dialog-title *ngIf="!data.atendimento">Cadastrar Atendimento</h2>
    <h2 class="m-0" mat-dialog-title *ngIf="data.atendimento">Editar Dados do Atendimento</h2>

    <div mat-dialog-content class="py-3">

        <form [formGroup]="form" *ngIf="form">
            
            <div class="row">
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Animal</mat-label>
                        <input matInput [value]="form.get('animal')?.value?.nome" readonly required>
                        <button type="button" matSuffix mat-icon-button (click)="selectAnimal()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Veterinário</mat-label>
                        <input matInput [value]="form.get('veterinario')?.value?.nome" readonly required>
                        <button type="button" matSuffix mat-icon-button (click)="selectVeterinario()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Comorbidades</mat-label>
                        <textarea matInput [value]="form.get('comorbidades')?.value" readonly required></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="text-center">
                        <button mat-icon-button (click)="importFromAgendamento()">
                            <mat-icon> vertical_align_bottom</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Data do atendimento</mat-label>
                        <input matInput [ngxMatDatetimePicker]="pickerDataHoraAtendimento" formControlName="dataHora" readonly>
                        <mat-datepicker-toggle matIconSuffix [for]="$any(pickerDataHoraAtendimento)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #pickerDataHoraAtendimento (closed)="dateChange()"></ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-9">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Motivo</mat-label>
                        <mat-select formControlName="motivo">
                            <mat-option value="ATROPELAMENTO">Atropelamento</mat-option>
                            <mat-option value="CASTRAÇÃO SOLIDÁRIA">Castração Solidária</mat-option>
                            <mat-option value="MAUS TRATOS">Maus tratos</mat-option>
                            <mat-option value="OUTRO">Outro</mat-option>
                            <mat-option value="VALE CASTRAÇÃO">Vale Castração</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Diagnóstico</mat-label>
                        <textarea matInput formControlName="diagnostico"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Posologia</mat-label>
                        <textarea matInput formControlName="posologia"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-11">
                    <div class="d-flex align-items-center justify-content-start h-100">
                        <h3 class="m-0 text-dark">Exames</h3>
                    </div>
                </div>

                <div class="col-1">
                    <div class="d-flex align-items-center justify-content-end h-100">
                        <button type="button" mat-icon-button (click)="addExame()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6" *ngFor="let exame of form.get('exames')?.value">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Exame</mat-label>
                        <input matInput [value]="exame.nome" readonly>
                        <button matSuffix mat-icon-button (click)="removeExame(exame)">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-11">
                    <div class="d-flex align-items-center justify-content-start h-100">
                        <h3 class="m-0 text-dark">Documentos</h3>
                    </div>
                </div>

                <div class="col-1">
                    <div class="d-flex align-items-center justify-content-end h-100">
                        <button type="button" mat-icon-button (click)="addImagem()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-3 mb-3" *ngFor="let documento of documentos">
                    <mat-card>
                        <img mat-card-image [src]="documento.nome ? apiURL + '/imagens/search?nome=' + documento.nome : documento.data">
                        <mat-card-footer class="p-2">
                            <div class="text-center">
                                <button type="button" mat-icon-button class="me-3" (click)="downloadImagem(documento)" *ngIf="documento.nome">
                                    <mat-icon>download</mat-icon>
                                </button>
                                <button type="button" mat-icon-button class="ms-3" (click)="removeImagem(documento)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </form>
    </div>

    <div mat-dialog-actions layout="row" class="d-flex justify-content-end" *ngIf="form">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [ngClass]="form.valid ? 'bg-success text-white' : ''" (click)="submit()" [disabled]="!form.valid">OK</button>
    </div>
</div>