<div class="bg-default d-flex align-items-center justify-content-center h-100">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <div class="mb-3">
          <app-no-content></app-no-content>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <button
              mat-button
              type="button"
              title="Volta"
              class="bg-default text-white"
              (click)="redirectToPanel()"
            >
              Voltar para página inicial
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
