<form [formGroup]="form" *ngIf="form">
  <div class="dialog-header ps-3 pt-3 pe-3 overflow-y-auto">
    <h2 class="m-0">
      {{ data.observacao ? "Editar Dados da Adoção" : "Cadastrar Adoção" }}
    </h2>
  </div>
  
  <div class="dialog-content p-3">
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Animal</mat-label>
          <input
            matInput
            [value]="form.get('animal')?.value?.nome"
            readonly
            required
          />
          <mat-error *ngIf="hasError('animal')">{{
            getErrorMessage("animal")
          }}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tutor</mat-label>
          <input
            matInput
            readonly
            required
            [value]="form.get('tutor')?.value?.nome"
          />
          <button
            type="button"
            matSuffix
            mat-icon-button
            (click)="selectTutor()"
          >
            <mat-icon>search</mat-icon>
          </button>
          <mat-error *ngIf="hasError('tutor')">{{
            getErrorMessage("tutor")
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Data</mat-label>
          <input
            matInput
            [ngxMatDatetimePicker]="pickerDataHora"
            formControlName="dataHora"
            readonly
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="$any(pickerDataHora)"
          ></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #pickerDataHora
            (closed)="dateChange()"
          ></ngx-mat-datetime-picker>
          <mat-error *ngIf="hasError('dataHora')">{{
            getErrorMessage("dataHora")
          }}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="col-12 col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Local</mat-label>
          <mat-select formControlName="local">
            <mat-option value="EXTERNO">Externo</mat-option>
            <mat-option value="INTERNO">Interno</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('local')">{{
            getErrorMessage("local")
          }}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="col-12 col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Local de Adoção</mat-label>
          <mat-select formControlName="localAdocao" (selectionChange)="localAdocaoChange($event)">
            <mat-option value="FEIRA">Feira</mat-option>
            <mat-option value="ONG">ONG</mat-option>
            <mat-option value="PET_SHOP">Pet Shop</mat-option>
            <mat-option value="RESGATE">Resgate</mat-option>
            <mat-option value="RUA">Rua</mat-option>
            <mat-option value="OUTRO">Outro</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('localAdocao')">{{
            getErrorMessage("localAdocao")
          }}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="col-12 col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Feira de Adoção</mat-label>
          <input
            matInput
            readonly
            [value]="form.get('feiraAdocao')?.value?.nome"
            [disabled]="form.get('localAdocao')?.value !== 'FEIRA'"
            [required]="form.get('localAdocao')?.value === 'FEIRA'"
          />
          <button
            type="button"
            matSuffix
            mat-icon-button
            (click)="selectFeiraAdocao()"
            [disabled]="form.get('localAdocao')?.value !== 'FEIRA'"
          >
            <mat-icon>search</mat-icon>
          </button>
          <mat-error *ngIf="hasError('feiraAdocao')">{{
            getErrorMessage("feiraAdocao")
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12 col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Vale Castração</mat-label>
          <mat-select formControlName="valeCastracao">
            <mat-option [value]="true">Sim</mat-option>
            <mat-option [value]="false">Não</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('valeCastracao')">{{
            getErrorMessage("valeCastracao")
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <div class="mb-3">
      <div class="row">
        <div class="col-7 col-md-10">
          <div class="d-flex align-items-center justify-content-start h-100">
            <h3 class="m-0">Termo de Responsabilidade</h3>
          </div>
        </div>
  
        <div class="col-5 col-md-2">
          <div class="d-flex align-items-center justify-content-end h-100">
            <button
              mat-button
              type="button"
              title="Adicionar Imagem"
              class="w-100 border"
              (click)="addImagem()"
            >
              Adicionar Imagem
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div
        class="col-12 col-md-3 mb-3"
        *ngFor="let termo of termoResponsabilidade"
      >
        <mat-card>
          <img
            mat-card-image
            [src]="
              termo.nome
                ? apiURL + '/imagens/search?value=' + termo.nome
                : termo.data
            "
          />
          <mat-card-footer class="p-3">
            <div class="row">
              <div 
                *ngIf="termo.nome"
                [ngClass]="termo.nome ? 'col-6' : 'col-12'"
              >
                <button
                  mat-button
                  class="bg-secondary text-white w-100"
                  (click)="downloadImagem(termo)"
                >
                  Baixar
                </button>
              </div>
              <div [ngClass]="termo.nome ? 'col-6' : 'col-12'">
                <button
                  mat-button
                  class="bg-danger text-white w-100"
                  (click)="removeImagem(termo)"
                >
                  Excluir
                </button>
              </div>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div class="dialog-footer ps-3 pb-3 pe-3">
    <div class="row">
      <div class="col-12">
        <div class="text-end">
          <button
            type="submit"
            mat-button
            title="Salvar"
            class="bg-success text-white px-4 me-3"
            (click)="submit()"
          >
            Salvar
          </button>
  
          <button
            type="button"
            mat-button
            mat-dialog-close
            title="Cancelar"
            class="bg-secondary text-white px-4"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>