<div class="mat-dialog">
    <h2 class="m-0" mat-dialog-title>Cadastrar Usuário</h2>

    <div mat-dialog-content class="py-3">
        <form [formGroup]="form" *ngIf="form">
            
            <div class="row mb-3">
                <div class="col-12">
                    <div class="text-center">
                        <img [src]="foto ? foto.data : '/assets/images/usuarios.png'" height="150px" class="rounded-circle">
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="text-center">
                        <button mat-icon-button type="button" [matMenuTriggerFor]="menuFoto">
                            <mat-icon>camera_alt</mat-icon>
                        </button>
                        <mat-menu #menuFoto="matMenu">
                            <button mat-menu-item (click)="addFoto()">
                                <mat-icon>search</mat-icon>
                                <span>Selecionar Foto</span>
                            </button>
                            <button mat-menu-item (click)="removeFoto()" *ngIf="foto">
                                <mat-icon>delete</mat-icon>
                                <span>Remover Foto</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>CPF</mat-label>
                        <input matInput formControlName="cpf" mask="CPF_CNPJ">
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Senha</mat-label>
                        <input matInput formControlName="senha" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Setor</mat-label>
                        <mat-select formControlName="setor">
                            <mat-option value="ADMINISTRACAO">Administração</mat-option>
                            <mat-option value="FUNCIONARIO">Funcionário</mat-option>
                            <mat-option value="VETERINARIO">Veterinário</mat-option>
                            <mat-option value="VOLUNTARIO">Voluntário</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Situação</mat-label>
                        <mat-select formControlName="status">
                            <mat-option [value]="true">Ativo</mat-option>
                            <mat-option [value]="false">Inativo</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>

    <div mat-dialog-actions layout="row" class="d-flex justify-content-end" *ngIf="form">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [ngClass]="form.valid ? 'bg-success text-white' : ''" (click)="submit()"  [disabled]="!form.valid">OK</button>
    </div>
</div>