<div class="mat-dialog">
    <h2 class="m-0" mat-dialog-title *ngIf="!data.feiraAdocao">Cadastrar Feira de Adoção</h2>
    <h2 class="m-0" mat-dialog-title *ngIf="data.feiraAdocao">Editar Dados da Feira de Adoção</h2>

    <div mat-dialog-content class="py-3">
        
        <form [formGroup]="form" *ngIf="form">
            
            <div class="row">
                <div class="col-12 col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Data</mat-label>
                        <input matInput [ngxMatDatetimePicker]="pickerDataHora" formControlName="dataHora" readonly>
                        <mat-datepicker-toggle matIconSuffix [for]="$any(pickerDataHora)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #pickerDataHora (closed)="dateChange()"></ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-9">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome">
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-11">
                    <div class="d-flex align-items-center justify-content-start h-100">
                        <h3 class="m-0 text-dark">Animais</h3>
                    </div>
                </div>

                <div class="col-1">
                    <div class="d-flex align-items-center justify-content-end h-100">
                        <button type="button" mat-icon-button (click)="addAnimais()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-3" [hidden]="dataSourceAnimais && dataSourceAnimais.data.length == 0">
                <div class="col-12">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSourceAnimais" class="w-100 border" #animaisSort="matSort" matSort matSortActive="nome" matSortDisableClear matSortDirection="asc">
    
                            <!-- Index Column -->
                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-index">#</th>
                                <td mat-cell *matCellDef="let animal; let i = index">{{i+1}}</td>
                            </ng-container>
    
                            <!-- Nome Column -->
                            <ng-container matColumnDef="nome">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-nome">Nome</th>
                                <td mat-cell *matCellDef="let animal" class="text-center">{{animal.nome}}</td>
                            </ng-container>
    
                            <!-- Espécie Column -->
                            <ng-container matColumnDef="especie">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-especie">Espécie</th>
                                <td mat-cell *matCellDef="let animal" class="text-center">{{animal.especie | titlecase}}</td>
                            </ng-container>
    
                            <!-- Porte Column -->
                            <ng-container matColumnDef="porte">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-porte">Porte</th>
                                <td mat-cell *matCellDef="let animal" class="text-center">{{animal.porte | titlecase}}</td>
                            </ng-container>
    
                            <!-- Idade Column -->
                            <ng-container matColumnDef="idade">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-idade">Idade</th>
                                <td mat-cell *matCellDef="let animal" class="text-center">{{animal.idade + ' Anos'}}</td>
                            </ng-container>

                            <!-- Ação Column -->
                            <ng-container matColumnDef="acao">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-acao">&nbsp;</th>
                                <td mat-cell *matCellDef="let animal" class="text-end">
                                    <button mat-icon-button (click)="removeAnimal(animal)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="columnsAnimais"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsAnimais;"></tr>
                        </table>
    
                        <mat-paginator #animaisPaginator [length]="dataSourceAnimais.data.length" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons class="w-100"></mat-paginator>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-11">
                    <div class="d-flex align-items-center justify-content-start h-100">
                        <h3 class="m-0 text-dark">Usuários</h3>
                    </div>
                </div>

                <div class="col-1">
                    <div class="d-flex align-items-center justify-content-end h-100">
                        <button type="button" mat-icon-button (click)="addUsuarios()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-3" [hidden]="dataSourceUsuarios && dataSourceUsuarios.data.length == 0">
                <div class="col-12">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSourceUsuarios" class="w-100 border" #usuariosSort="matSort" matSort matSortActive="nome" matSortDisableClear matSortDirection="asc">
    
                            <!-- Index Column -->
                            <ng-container matColumnDef="index">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-index">#</th>
                                <td mat-cell *matCellDef="let usuario; let i = index" class="text-center">{{i+1}}</td>
                            </ng-container>
    
                            <!-- Nome Column -->
                            <ng-container matColumnDef="nome">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-nome">Nome</th>
                                <td mat-cell *matCellDef="let usuario" class="text-center">{{usuario.nome}}</td>
                            </ng-container>
    
                            <!-- Setor Column -->
                            <ng-container matColumnDef="setor">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-setor">Setor</th>
                                <td mat-cell *matCellDef="let usuario" class="text-center">{{usuario.setor | titlecase}}</td>
                            </ng-container>

                            <!-- Ação Column -->
                            <ng-container matColumnDef="acao">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-acao">&nbsp;</th>
                                <td mat-cell *matCellDef="let usuario" class="text-end">
                                    <button mat-icon-button (click)="removeUsuario(usuario)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="columnsUsuarios"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsUsuarios;"></tr>
                        </table>
    
                        <mat-paginator #usuariosPaginator [length]="dataSourceUsuarios.data.length" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons class="w-100"></mat-paginator>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div mat-dialog-actions layout="row" class="d-flex justify-content-end" *ngIf="form">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [ngClass]="form.valid ? 'bg-success text-white' : ''" (click)="submit()"  [disabled]="!form.valid">OK</button>
    </div>
</div>