<div class="row mb-3">
    <div class="col-12">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a class="text-white"[routerLink]="'/' + user.role.toLowerCase() + '/painel'">Início</a></li>
                <li class="breadcrumb-item active" aria-current="page">Feiras de Adoção</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <mat-card>
            <mat-card-header class="pb-2">
                <div class="mat-card-header-text">
                    <div class="row">
                        <div class="col px-0">
                            <h2 class="m-0 text-center">Feiras de Adoção</h2>
                        </div>
                    </div>
                </div>
            </mat-card-header>

            <mat-card-content>
                <div class="row mb-3">
                    <div class="col-12 col-md-3 mb-3 mb-md-0">
                        <mat-form-field appearance="outline" class="w-100" style="margin-bottom: -1.25em;">
                            <mat-label>Buscar</mat-label>
                            <input matInput [(ngModel)]="filterDate" [matDatepicker]="pickerDataHora" placeholder="Data" readonly>
                            <mat-datepicker-toggle matIconSuffix [for]="pickerDataHora"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDataHora (closed)="search('date')"></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-8 mb-3 mb-md-0">
                        <mat-form-field appearance="outline" class="w-100" style="margin-bottom: -1.25em;">
                            <mat-label>Buscar</mat-label>
                            <input type="text" matInput placeholder="Nome" [(ngModel)]="filterString" (keyup.enter)="search('string')">
                            <button mat-icon-button matSuffix (click)="search('string')">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-1">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <button mat-icon-button class="bg-success text-white" (click)="add()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row mb-3" [hidden]="(dataSource && dataSource.data.length == 0) || isLoadingResults">
    <div class="col-12">
        <mat-card>
            <mat-card-content>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="w-100 border" matSort matSortActive="dataHora" matSortDisableClear matSortDirection="desc" (matSortChange)="sortChange()">

                        <!-- Index Column -->
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-index">#</th>
                            <td mat-cell *matCellDef="let feiraAdocao; let i = index">{{i+1}}</td>
                        </ng-container>

                        <!-- Data Hora Column -->
                        <ng-container matColumnDef="dataHora">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-dataHora">Data</th>
                            <td mat-cell *matCellDef="let feiraAdocao" class="text-center">{{getDateWithTimeZone(feiraAdocao.dataHora) | date: 'dd/MM/yyyy HH:mm'}}</td>
                        </ng-container>

                        <!-- Nome Column -->
                        <ng-container matColumnDef="nome">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-nome">Nome</th>
                            <td mat-cell *matCellDef="let feiraAdocao" class="text-center">{{feiraAdocao.nome}}</td>
                        </ng-container>

                        <!-- Total Animais Column -->
                        <ng-container matColumnDef="totalAnimais">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-totalAnimais">Total Animais</th>
                            <td mat-cell *matCellDef="let feiraAdocao" class="text-center">{{feiraAdocao.animais.length}}</td>
                        </ng-container>

                        <!-- Total Usuarios Column -->
                        <ng-container matColumnDef="totalUsuarios">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-totalUsuarios">Usuários</th>
                            <td mat-cell *matCellDef="let feiraAdocao" class="text-center">{{feiraAdocao.usuarios.length}}</td>
                        </ng-container>

                        <!-- Ação Column -->
                        <ng-container matColumnDef="acao">
                            <th mat-header-cell *matHeaderCellDef class="col-acao">&nbsp;</th>
                            <td mat-cell *matCellDef="let feiraAdocao">
                                <div class="text-end">
                                    <button mat-icon-button (click)="update(feiraAdocao)">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <button mat-icon-button (click)="delete(feiraAdocao)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                    </table>

                    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons class="w-100" (page)="pageChange()"></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row mb-3" *ngIf="isLoadingResults">
    <div class="col-12">
        <mat-card>
            <mat-card-content>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                <p class="text-center pt-3">Obtendo dados</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div [hidden]="(dataSource && dataSource.data.length > 0) || isLoadingResults">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <img src="/assets/images/nao-encontrado.png" width="100px">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2 class="m-0">Não há dados a serem exibidos!</h2>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>