.mat-column-index
    flex: 0 0 5% !important
    width: 5% !important

.mat-column-nome
    flex: 0 0 45% !important
    width: 45% !important

.mat-column-especie
    flex: 0 0 15% !important
    width: 15% !important

.mat-column-adotado
    flex: 0 0 15% !important
    width: 15% !important

.mat-column-acao
    flex: 0 0 20% !important
    width: 20% !important

::ng-deep .col-index .mat-sort-header-container, ::ng-deep .col-nome .mat-sort-header-container,
::ng-deep .col-especie .mat-sort-header-container, ::ng-deep .col-adotado .mat-sort-header-container,
::ng-deep .col-setor .mat-sort-header-container, ::ng-deep .col-acao .mat-sort-header-container
    display: flex
    justify-content: center
