<div class="row mb-3">
    <div class="col-12">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a class="text-white"[routerLink]="'/' + user.role.toLowerCase() + '/painel'">Início</a></li>
                <li class="breadcrumb-item active" aria-current="page">Agendamentos</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <mat-card>
            <mat-card-header class="pb-2">
                <div class="mat-card-header-text">
                    <div class="row">
                        <div class="col px-0">
                            <h2 class="m-0 text-center">Agendamentos</h2>
                        </div>
                    </div>
                </div>
            </mat-card-header>

            <mat-card-content>
                <div class="row mb-3">
                    <div class="col-10 col-md-11">
                        <mat-form-field appearance="outline" class="w-100" style="margin-bottom: -1.25em;">
                            <mat-label>Buscar</mat-label>
                            <input type="text" matInput #searchText (keyup)="filter(searchText.value)">
                            <button mat-icon-button matSuffix>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="col-2 col-md-1">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <button mat-icon-button class="bg-success text-white" (click)="add()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>